{% extends 'base.html' %}
{% load static %}
    {% load i18n %}

{% block content %}

 <div class='talk' >
    <div class='firsto'></div>
    <div class= 'twoo' style="text-align: right;position: relative; top: 50%;left: 50%;transform: translate(-50%, -50%);color:black;font-size: 1cm; padding:10px; padding-top: 5em;padding-bottom:3em;margin-top: 2em;">
        <p style="width:80vw;">
 Welcome to the Cbon About page! We're here to help answer any questions you may have about the platform.  we want to make sure you have all the information you need to have a great experience on RentACyberFriend.com.

  Our About page is designed to provide answers to some of the most common questions we receive, but if you can't find what you're looking for, our customer support team is always here to help.
  
  Thank you for choosing Cbonshop, and we look forward to your next purchase!
        </p>
    </div>
 </div>




{% endblock content %}




