{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class='talk' >

    <div class="lala" style="width:100vw; margin-top: 6em" >
        <div class="card text-center" style="display: block; left:0; right:0; margin:0;
        max-width:100vw;">
        <div class="card-header">
            Promo !!!!
        </div>
        <div class="car" style="position:relative;">
            <img src="{% static 'store/image/valentine.jpg' %}" class="d-block w-100" alt="...">

        </div>
        <div class="card-body" style="left:25%; top:20%; position:absolute; color:white;font-size:60">
            <h2 class="card-title">Special Promotion <h1 style="color : red">Saint valetin</h1></h2>
            <h3 class="card-text">Utilisez notre discount code "Valentin" pour avoir <h1> -50% !!!! </h1> sur  tout nos produits </h3>
        </div>
        <div class="card-footer text-body-secondary">
            Seulement valable le 14 fevrier
        </div>
        </div>
        </div>
        </div>
</div>
    
 <div class='talk' >
    <div class='firsto' style="display:flex;width: 100vw">
    <div class= 'twoo' data-w-id="b95365ed-8f07-4be7-0e84-6bd617a1de18" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;color:var(--neutral-500);letter-spacing: -.02em;font-weight: 500;font-size: 18px;padding:10px; padding-top: 5em;margin-top: 10em;position: relative; max-width:48%;">
        <p style="margin-top: 2em;padding-top: 3em;margin-right:10%;position:absolute;">

        <h2 style ="font-size: 32px;line-height: 36px; ">Bienvenue sur la page À propos de Cbon !
        </h2 >
        <br>
    </br>
                
                Nous sommes là pour répondre à toutes les questions que vous pourriez avoir concernant la plateforme. Notre objectif est de nous assurer que vous disposez de toutes les informations nécessaires pour vivre une excellente expérience sur Cbonboutik.com.
        <br>
    </br>
                Notre page À propos est conçue pour répondre aux questions les plus courantes que nous recevons. Cependant, si vous ne trouvez pas ce que vous cherchez, notre équipe de support client est toujours à votre disposition.
        <br>
    </br>
                Nous vous remercions d'avoir choisi Cbonshop et nous sommes impatients de vous accompagner lors de votre prochain achat !
        </p>
    </div>

    <div data-w-id="ebb55003-908b-84af-6ca3-abfc5177143b" style="display:flex;padding-top: 5em;margin-top: 2em;width:50%" class="image-wrapper about-videos">

        <img src="{% static 'store/image/yaDieu.jpg' %}" alt="..." class="d-block w-100">

    
    </div>    
</div>
{% endblock content %}




