{% extends 'base.html' %} 
    {% load i18n %}

{% block content %}
<div class='collection'  >

  
    <h1 style="text-align: right;position: absolute; top: 50%;left: 50%;transform: translate(-50%, -50%);color:#000000;font-size: 1cm;" >Votre Panier  <button type="button" class="btn btn-info"><a href="{% url 'checkout' %}" style='color:white ;text-decoration:none; list-style: none;' >{% trans "valider l'achat" %}</a></button>
  </h1>  

</div>
 <div class='coll' style='background-color: #d7e3fc;display:flex;flex:wrap'>
    {% if mycart %}
        {% for item in mycart %}
            {% for order in item.orders.all %} {# Utilisation de .all pour obtenir tous les objets Order associés #}
                <div class="card mb-3" style="max-width: 400px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ order.products.thumbnail.url }}" class="img-fluid rounded-start" alt="{{ order.products.name }}" style="width:150px">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ order.products.name }} </h5> {# Utilisation de order.products pour accéder au nom du produit #}
                                <p class="card-text">
                                    <li>- Quantité : {{ order.quantity }} </li> {# Utilisation de order.quantity pour accéder à la quantité #}
                                    <li>- Prix unitaire : {{ order.products.prices }}</li> {# Utilisation de order.products.price pour accéder au prix du produit #}
                                    {% if order.products.discount_price %}
                                    <h6> <span style="text-decoration: line-through;">{{  order.products.discount_price }} cfa</span></h6>
                                    {% endif %}
                                </p>
                                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            </div>
                            <button type="button" class="btn btn-info"><a href="{% url 'product_list' %}" >{% trans "continuer achat" %}</a></button>
                            <button type="button" class="btn btn-info"><a href="{% url 'delete_cart' order_id=order.id %}" >{% trans "supprimer" %}</a></button>

                        </div>
                    </div>
                </div>     
            {% endfor %} 
        {% endfor %}
    {% else %}
        <p>Votre panier est vide</p>
    {% endif %}  
</div>

  

  {% endblock  %} 
<!--
      <p> {{ order.quantity }} dans le panier </p>
 
-->