{% extends 'base.html' %} 
    {% load i18n %}

{% block content %}
<div class="card">
      <div class="row">
          <div class="col-md-8 cart">
              <div class="title">
                  <div class="row">
                      <div class="col"><h4><b>Shopping Cart</b></h4></div>
                      <div class="col align-self-center text-right text-muted"></div>
                  </div>
              </div>    
              <div class="row border-top border-bottom">
                  <div class="row main align-items-center">
                        {% for order in cart.orders.all %}
                      <div class="col-2"> <img src=" {{ order.products.thumbnail.url }} " alt="{{ orders.products.name }}" style="max-width: 250px" ></div>
                      <div class="col">
                          <div class="row text-muted">{{ order.products.name }}</div>
                      </div>
                      <div class="col">
                          <a href="#">-</a><a href="#" class="border">{{ order.quantity }}</a><a href="">+</a>
                      </div>
                      <div class="col">cfa;{{ product.prices }} <span class="close">&#10005;</span></div>
                  </div>
                  {% endfor %}
                 
                      <div class="row">
                           <div class="col">{{ order.products.name }}</div>
                              <div class="col text-right">&euro;{{ order.products.price }}</div>
                      </div>
            
            </div>
              </div>
              <div class="back-to-shop"><a href="{% url 'product_list' %}">&leftarrow;</a><span class="text-muted">retour</span></div>
          </div>
          <div class="col-md-4 summary">
              <div><h5><b>Summary</b></h5></div>
              <hr>
              <div class="row">
                  <div class="col" style="padding-left:0;">TOTAL</div>
                  <div class="col text-right">&euro;{{ cart.total_price }}</div>
              </div>
              <form>
                  <p>SHIPPING</p>
                  <select><option class="text-muted">livraison Standard cfa 1000.00</option></select>
                  <p>GIVE CODE</p>
                  <input id="code" placeholder="Enter your code">
              </form>
              <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                  <div class="col">TOTAL PRICE</div>
                  <div class="col text-right">&euro; 137.00</div>
              </div>

              <button class="btn">
                  <a href="">Valider le panier</a></button>
                  <button class="btn"><a href=" {% url 'delete_cart' %} ">supprimer le panier</a></button>

          </div>
      </div>
      
  </div>

{% endblock  %} 
<!--
      <p> {{ order.quantity }} dans le panier </p>
    
-->