{% extends 'base.html' %}

{% block content%}
{% load i18n %}
{% load bootstrap5 %}
{% load static %}
{% bootstrap_javascript %}

<div class="pro-det" style=" display: block; height: 120vh">
    <div class="pro-det2" style=" display:flex; " >
        <div class="det-img">
            <img src=" {{ product.thumbnail.url }} " alt="{{ product.name }}" style="max-width: 38vw; border-radius: 10px">
        </div>

        <div class="det-desc">
            <div class='first-sec' style="text-transform: uppercase;">
                <h2 style="text-transform: uppercase;">  {{ product.name }} </h2>
                <h3> {% trans "Prix " %} {{ product.prices }} cfa </h3>
                {% if product.discount_price %}
                <h6> <span style="text-decoration: line-through;">{{ product.discount_price }} cfa</span></h6>
                {% endif %}
                <h3> {{ product.instock }} {% trans "En stock" %}</h3>                
            </div>
            <div class='sc-sec'>
                <p> {{ product.description }} </p>
            <br>
            </br>

            </div>
            <div class="clnt-chng">
                <div class="chng-color">
                    
                </div>

                {% if user.is_authenticated %}
                <p class="but">
                    <button type="button" class="btn btn-outline-secondary" class="button" >
                        <a href="{% url 'add_to_cart'  product.slug %}">ajouter au panier</a>
                    </button>
                {% else %}
                <button type="button" class="btn btn-outline-secondary" class="button" >
                    <a href="{% url 'add_to_cart'  product.slug %}">ajouter au panier</a>
                </button>
                
                {% endif %} 
                <button type="button" class="btn btn-outline-secondary" class="button" style="margin-left: 30px;" >
                    <a href="{% url "validate_product_via_whatsapp" product.slug %}">{% trans "valider par WhatsApp" %}</a>
                </button>
            </p>
                {% if cart %}
                    <a href=" {% url 'cart' %} ">{% trans "Voir mon panier  " %}</a>
                {% endif %}
            </div>

        </div>

    </div>
</div>

{% endblock %}

