{% extends 'base.html' %} 
    {% load i18n %}

{% block content %}
    

  <div class="product_cont" style="display: block;width: 100vw; background-color:#d7e3fc;
  border: 1px transparent solid; position: relative; ">
  <div class='col_sm_2'style="border: 1px transparent solid; margin-top: 10%"> 
    <h1 style="left:50px; border: 1px transparent solid;  padding-left: 30px ">{% trans "Nos Produits" %}
      <li class='safety' style ='display: flex; font-size: 20px;
text-decoration: none;' >
      <a style="text-decoration: none;"  href="{% url 'category_list' 1 %}"> Electronics,</a> 
      <a style="text-decoration: none;"  href="{% url 'category_list' 2 %}">Cosmetique,</a> 
      <a style="text-decoration: none;"  href="{% url 'category_list' 3 %}">Alimentation, </a> 
      <a style="text-decoration: none;"  href="{% url 'category_list' 4 %}">Education </a>
    </li>
    </h1> 

    {% if product_list %}
    <div class= 'col_sm_3' style ="border: 1px transparent solid; padding-left: 30px;">
    <ul style=" display:flex; flex-wrap: wrap;">
      {% for category_product in category_products %}  
 
            {% for product in category_product.products %}  
              <li>
                <a style="text-decoration: none;"  href=" {% url 'product' product.slug %} ">
                  {% if product.thumbnail %}
                  <img src="{{ product.thumbnail.url }}" alt="{{ product.name }}" style="max-width: 250px; height:200px">
                {% else %}
                  <img src="static\store\image\bluebookhome.jpg" alt="Default Image" style="max-width: 250px; height:200px">
                  <!-- Replace 'path_to_default_image' with the path to your default image -->
                {% endif %}
                </a>
                  <a style="text-decoration: none;"  href=" {% url 'product' product.slug %} "> <h5> {{ product.name }} </h5> </a>
                    <a style="text-decoration: none;"  href=" {% url 'product' product.slug %} "> <h5>  ({{ product.prices }}) </h5></a>
                    <h5 >Category {{ category_product.category.name }}</h5>  
                                  
                    <a style="text-decoration: none;"  href=" {% url 'product' product.slug %} "> {% trans "Voir plus" %}</a>

              </li>
            
              
            {% endfor %}
          
      {% endfor %}

    </ul>
  </div>
    {% else %}  
    There are no products in the category.

    {% endif %}

  </div>
</div>

{% endblock  %} 