{% extends 'base.html' %} 

{% block content %}
{% for subcategory in subcategorie %}

<div class='coll-pro'>



<div class='collection'  >

  
    <h1 style="text-align: right;position: absolute; top: 50%;left: 50%;transform: translate(-50%, -50%);color:#000000;font-size: 1cm;" > {{ subcategory.name}}
  </h1>  

</div>

{% endfor %}

{% if sub_id == sub_id %}
<div class='coll-pro'>
    {% for sub in sub_link %} 

    {% for product in sub.products %}  
    <div class="card" style="width: 15rem; margin: 20px;display:block;padding:none">
           {% if product.thumbnail %}
                  <img src="{{ product.thumbnail.url }}" class="card-img-top" alt="{{ product.name }}">
           {% else %}
                  <img src="static\store\image\bluebookhome.jpg" alt="Default Image" >
            <!-- Replace 'path_to_default_image' with the path to your default image -->
       {% endif %}
          <div class="card-body">
                  <li>
                      {{ product.name }}
                  </li>
                  <li>
                      Prix :{{ product.prices }} Cfa
                  </li>
                  <li>
                    <a href=" {% url 'product' product.slug %} "class="btn btn-primary"> Voir plus</a>
               </li>
              </div>
          </div>
      {% endfor %}
      {% endfor %}

      {% endif %}










{% endblock %}