{% extends 'base.html' %} 

{% block content %}
{% for subcategory in subcategorie %}

<div class="talk">
<h1 style=" padding: 10px; text-align: right;position: absolute;top:50%;left: 50%;transform: translate(-50%, -50%);color:black;font-size: 0.5cm;">
    {{ subcategory.name}}
</h1>
</div>
<div class='coll-pro'>
 {% for subproduct in sub_link %}
    {% for product in subproduct.products  %}
         <h2> {{product.name}} </h2>
    
    {% endfor %}
 {% endfor %}
</div>
{% endfor %}
















{% endblock %}