{% extends 'base.html' %} 

 {% block content %}
 
<div class='form-control' style="background:#6588d3b2 ;width:100vw;left:50%" >
       <form method="POST" action="" style="display: inline-block; justify-content: center;margin-top: 3em">
         {% csrf_token %}
            <div class='you2' style= " margin-right:auto;margin-left: auto;padding:30px; font-size: 1.5em; margin-top : 3em" >
               <div class="form-floating mb-3" style= 'margin-left: 500;'>
                  {% if form.errors%}
                     <p>there was an error with your form...</p>
                  {% endif %}  
                  
                  <h1>S'inscrire</h1> 
                  {{ form.as_p }}
                  </br>                  
                  
                  <div class="form-group">
                     <input class="btn btn-success" type="submit" value="Submit" style="background:#0096c7;color:white; border: none;">
                  </div>
      
               </div>
       If you already have an account, <a href=" {% url 'login' %} ">Login</a> instead
      </div>

 </form>
</div>

      <!--
   <div class='you' style='border: 1px black solid;display: inline-block;width:100vw; justify-content: center;padding-top: 3em'>
      <div class='talk' >
   <div class='firsto'></div>
   <div class= 'twoo' style="text-align: right;position: absolute; top: 50%;left: 50%;transform: translate(-50%, -50%);color:black;font-size: 1cm; padding:10px">
   </div>
       <p>
            <label for="username">Nom d'utilisateur</label>
            <input id="username" type="text" name="username">
        
         </p>
         <p>
            <label for="password">Mot de passe</label>
            <input id="password" type="password" name="password">
      
         </p> 
         <p>
            <label for="email">email²</label>
            <input id="email" type="email" name="email">
      
         </p> 
</div>
</div>
      -->    


 {% endblock content %}
 
 
